Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: 1-rubocop, 2-selene, 3-stylua, 5-lua-test

lefthook.yml:

skip_output:
  - meta
pre-push:
  only:
    - ref: master
  files: "rg --files"
  follow: true
  commands:
    1-rubocop:
      glob: "*.rb"
      run: bundle exec rubocop {files}
    2-selene:
      glob: "{lua,plugin}/**/*.lua"
      run: selene --config selene/config.toml {files}
    3-stylua:
      glob: "*.lua"
      run: stylua --check {files}
    4-typos:
      run: typos {files}
    5-lua-test:
      glob: "tests/specs/**/*_spec.lua"
      run: nvim --headless -S "./tests/init.lua" || echo {files}
      env:
        - CI: 1
        - GIT_CONFIG_GLOBAL: /dev/null
        - GIT_CONFIG_SYSTEM: /dev/null
        - NVIM_APPNAME: neogit-test
    6-rspec:
      run: bin/specs {files}

docs: for *Delta*, hyperlinks must be disabled in its *Git* config section
  README.md
Due: none

refactor: ANSI colorize continuous chunks at once
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

docs: switch from `*` to ` `` `, as help documents treat that as a tag
  README.md
  doc/neogit.txt
Due: none

Revert "Add ability to revert hunk"
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/buffers/status/actions.lua
  lua/neogit/lib/git/diff.lua
  lua/neogit/lib/git/index.lua
  lua/neogit/lib/git/revert.lua
  lua/neogit/lib/ui/init.lua
  lua/neogit/popups/revert/actions.lua
  lua/neogit/popups/revert/init.lua
  tests/specs/neogit/lib/git/index_spec.lua
  tests/specs/neogit/lib/git/log_spec.lua
Due: 2-selene, 3-stylua, 5-lua-test

If checking out a branch fails, inform the user
  lua/neogit/popups/branch/actions.lua
Due: 2-selene, 3-stylua

remove redundant hunks/patch - it's the same as above
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

Bump ruby version
  .ruby-version
  Gemfile.lock
Due: none

Add more specs for status buffer discarding
  spec/buffers/status_buffer_spec.rb
Due: 1-rubocop

feat(status): add opt-in soft wrap option
  README.md
  doc/neogit.txt
  lua/neogit/buffers/status/init.lua
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Bump ruby to 3.4.1
  .ruby-version
  Gemfile
  Gemfile.lock
Due: none

WIP: reset me
  lua/neogit/buffers/status/actions.lua
  lua/neogit/lib/input.lua
  lua/neogit/lib/popup/builder.lua
  lua/neogit/lib/popup/init.lua
  lua/neogit/lib/popup/ui.lua
  lua/neogit/lib/state.lua
  lua/neogit/popups/branch/actions.lua
  lua/neogit/popups/cherry_pick/init.lua
  lua/neogit/popups/commit/actions.lua
  lua/neogit/popups/commit/init.lua
  lua/neogit/popups/diff/actions.lua
  lua/neogit/popups/merge/init.lua
  lua/neogit/popups/rebase/actions.lua
  lua/neogit/popups/rebase/init.lua
  lua/neogit/popups/revert/init.lua
  lua/neogit/popups/tag/actions.lua
  spec/popups/revert_popup_spec.rb
  spec/support/neovim_client.rb
Due: 1-rubocop, 2-selene, 3-stylua

Change: config.process_spinner is now `false` by default. Too many issues with blinking cursors for users.
  README.md
  lua/neogit/config.lua
Due: 2-selene, 3-stylua

feat: support viewing the diff via other pagers, e.g. *Delta*
  README.md
  doc/neogit.txt
  lua/neogit/buffers/common.lua
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/git/diff.lua
Due: 2-selene, 3-stylua

refactor: move `Buffer:set_line_highlights()` ANSI highlights to `Buffer:set_ansi_highlights()`, to avoid finding hunk line numbers manually with the hard-coded `NeogitDiffContext`
  lua/neogit/buffers/common.lua
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/ui/component.lua
  lua/neogit/lib/ui/init.lua
  lua/neogit/lib/ui/renderer.lua
Due: 2-selene, 3-stylua

docs: add *Delta* example for `log_pager`
  README.md
Due: none

refactor: run the pager in `neogit.lib.git.diff` `build_pager_contents()`
  lua/neogit/buffers/common.lua
  lua/neogit/lib/git/diff.lua
Due: 2-selene, 3-stylua

feat: handle "Erase in Line"
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

test: add `pager_contents` to `subject.parse()` specs
  tests/specs/neogit/lib/git/log_spec.lua
Due: 3-stylua, 5-lua-test

refactor: use `vim.system()` instead of *plenary* to run `config.values.log_pager`
  lua/neogit/buffers/common.lua
Due: 2-selene, 3-stylua

fix: Do not pass "--path-format=absolute" to rev-parse calls.
  lua/neogit/lib/git/cli.lua
Due: 2-selene, 3-stylua

Fix console window height
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Allow custom floating window
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Determine statusline height too
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Update README.md
  README.md
Due: none

fix: empty buffer error on open buffer action
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

feat: add snacks.picker integration
  lua/neogit/config.lua
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

docs: update readme for snacks.picker integration
  README.md
Due: none

docs: update help for docs: update readme for snacks.picker integration
  doc/neogit.txt
Due: none

fix: use require to avoid global variable accessing
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

feat: direct branch delete bind to refs view
  lua/neogit/buffers/refs_view/init.lua
  lua/neogit/config.lua
Due: 2-selene, 3-stylua

feat: delete multiple branches with visual selection
  lua/neogit/buffers/refs_view/init.lua
  lua/neogit/lib/git/branch.lua
  lua/neogit/lib/ui/init.lua
Due: 2-selene, 3-stylua

feat: refactor to support deleting remote branches
  lua/neogit/buffers/refs_view/init.lua
  lua/neogit/lib/git/branch.lua
Due: 2-selene, 3-stylua

fix: redraw after delete
  lua/neogit/buffers/refs_view/init.lua
Due: 2-selene, 3-stylua

fix: pushRemote.branch string extraction
  lua/neogit/lib/git/branch.lua
Due: 2-selene, 3-stylua

fix: markdown code block formatting
  CONTRIBUTING.md
Due: none

chore: add mention of `typos` to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix: typo
  lua/neogit/lib/graph/kitty.lua
Due: 2-selene, 3-stylua
