Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: 1-rubocop, 2-selene, 3-stylua, 5-lua-test

lefthook.yml:

skip_output:
  - meta
pre-push:
  only:
    - ref: master
  files: "rg --files"
  follow: true
  commands:
    1-rubocop:
      glob: "*.rb"
      run: bundle exec rubocop {files}
    2-selene:
      glob: "{lua,plugin}/**/*.lua"
      run: selene --config selene/config.toml {files}
    3-stylua:
      glob: "*.lua"
      run: stylua --check {files}
    4-typos:
      run: typos {files}
    5-lua-test:
      glob: "tests/specs/**/*_spec.lua"
      run: nvim --headless -S "./tests/init.lua" || echo {files}
      env:
        - CI: 1
        - GIT_CONFIG_GLOBAL: /dev/null
        - GIT_CONFIG_SYSTEM: /dev/null
        - NVIM_APPNAME: neogit-test
    6-rspec:
      run: bin/specs {files}

Remove requirement for staged changes from amend and reword
  lua/neogit/popups/commit/actions.lua
Due: 2-selene, 3-stylua

Commit->extend, with nothing staged, will offer to stage all tracked files in worktree
  lua/neogit/popups/commit/actions.lua
Due: 2-selene, 3-stylua

Remove lint-short and add typecheck to Makefile
  Makefile
Due: none

Type: changed -> changes
  lua/neogit/popups/commit/actions.lua
Due: 2-selene, 3-stylua

Improve stashing. Adds arguments for untracked files and all files. adds documentation for events.
  README.md
  lua/neogit/lib/git/stash.lua
  lua/neogit/popups/stash/init.lua
Due: 2-selene, 3-stylua

remove comment
  lua/neogit/popups/stash/actions.lua
Due: 2-selene, 3-stylua

Stash index/keeping index shouldn't take args
  lua/neogit/lib/git/stash.lua
  lua/neogit/popups/stash/actions.lua
  spec/spec_helper.rb
Due: 1-rubocop, 2-selene, 3-stylua

Improve stash popup spec
  lua/neogit/popups/stash/init.lua
  spec/popups/stash_popup_spec.rb
Due: 1-rubocop, 2-selene, 3-stylua

Capture and retry only specific failing specs instead of the entire file
  bin/specs
Due: none

Print line number when spec fails
  bin/specs
Due: none

Revert partially - this breaks the lua specs
  lua/neogit/lib/git/status.lua
Due: 2-selene, 3-stylua

Remove process spec. Doesn't really test anything meaningful and we have e2e tests for this
  tests/specs/neogit/process_spec.lua
Due: 3-stylua, 5-lua-test

Improve diffview integration: when attempting to stage a change that is unmerged, open it in the diffview merge resolution view.
  lua/neogit/buffers/status/actions.lua
  lua/neogit/integrations/diffview.lua
  lua/neogit/lib/git/merge.lua
  lua/neogit/lib/git/status.lua
  lua/neogit/popups/diff/actions.lua
Due: 2-selene, 3-stylua

Fix: Truncate spinner text to prevent "hit-enter" prompt
  lua/neogit/spinner.lua
Due: 2-selene, 3-stylua

fix typecheck
  lua/neogit/popups/commit/actions.lua
Due: 2-selene, 3-stylua

Set up diffview in test suite
  spec/support/neovim_client.rb
Due: 1-rubocop

Use lib to find HEAD's available
  lua/neogit/popups/diff/actions.lua
Due: 2-selene, 3-stylua

Revert "Revert partially - this breaks the lua specs"
  lua/neogit/lib/git/status.lua
  tests/specs/neogit/lib/git/status_spec.lua
Due: 2-selene, 3-stylua, 5-lua-test

Check for all unmerged types
  lua/neogit/lib/git/status.lua
Due: 2-selene, 3-stylua

Have "commit->absorb" make more sense when you select a commit to absorb into.
  lua/neogit/popups/commit/actions.lua
Due: 2-selene, 3-stylua

Use buffer option setter
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Modify behaviour of trying to open commit view - if it's already open and you go to open a new one, just open the new one instead of closing the old one first
  lua/neogit/buffers/commit_view/init.lua
Due: 2-selene, 3-stylua

Add a highlight on the status/log/reflog/stash-log buffer when the commit view is open that indicates the current active item
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/buffers/common.lua
  lua/neogit/buffers/log_view/init.lua
  lua/neogit/buffers/reflog_view/init.lua
  lua/neogit/buffers/reflog_view/ui.lua
  lua/neogit/buffers/stash_list_view/init.lua
  lua/neogit/buffers/stash_list_view/ui.lua
  lua/neogit/buffers/status/init.lua
  lua/neogit/buffers/status/ui.lua
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/git/reflog.lua
  lua/neogit/lib/git/stash.lua
  lua/neogit/lib/hl.lua
  lua/neogit/lib/ui/init.lua
  lua/neogit/lib/ui/renderer.lua
Due: 2-selene, 3-stylua

lint
  lua/neogit/buffers/common.lua
  lua/neogit/lib/git/reflog.lua
Due: 2-selene, 3-stylua

Fix types
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/ui/component.lua
Due: 2-selene, 3-stylua

Add documentation for new highlight group NeogitActiveItem
  doc/neogit.txt
Due: none

Move line to the same place (after merging conflicts)
  lua/neogit/buffers/log_view/init.lua
Due: 2-selene, 3-stylua

refactor: ANSI colorize continuous chunks at once
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

docs: add *Delta* example for `log_pager`
  README.md
Due: none

feat: support viewing the diff via other pagers, e.g. *Delta*
  README.md
  doc/neogit.txt
  lua/neogit/buffers/common.lua
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/git/diff.lua
Due: 2-selene, 3-stylua

Fix: Commit --allow-empty shouldn't return early because you have no changes staged. Thats the whole point...
  lua/neogit/popups/commit/actions.lua
Due: 2-selene, 3-stylua

Ask to fetch from a remote after adding it
  lua/neogit/popups/remote/actions.lua
Due: 2-selene, 3-stylua

docs: for *Delta*, hyperlinks must be disabled in its *Git* config section
  README.md
Due: none

Ensure that viewport doesn't shift when expanding hunks
  lua/neogit/buffers/status/ui.lua
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Ensure item name is properly escaped before passing to delete()
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

refactor: use `vim.system()` instead of *plenary* to run `config.values.log_pager`
  lua/neogit/buffers/common.lua
Due: 2-selene, 3-stylua

refactor: run the pager in `neogit.lib.git.diff` `build_pager_contents()`
  lua/neogit/buffers/common.lua
  lua/neogit/lib/git/diff.lua
Due: 2-selene, 3-stylua
