Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: 1-rubocop, 2-selene, 3-stylua, 5-lua-test

1-rubocop:
  run: bundle exec rubocop {files}

2-selene:
  run: selene --config selene/config.toml {files}

3-stylua:
  run: stylua --check {files}

5-lua-test:
  run: nvim --headless -S "./tests/init.lua" || echo {files}
  env:
  - CI: 1
  - GIT_CONFIG_GLOBAL: /dev/null
  - GIT_CONFIG_SYSTEM: /dev/null
  - NVIM_APPNAME: neogit-test

Fix linting issue
  lua/neogit/buffers/editor/init.lua
Due: 2-selene, 3-stylua

Trying to fix rspec tests
  lua/neogit/buffers/editor/init.lua
Due: 2-selene, 3-stylua

fix: prevent deletion of the main worktree
  lua/neogit/lib/git/worktree.lua
Due: 2-selene, 3-stylua

Make spinner step messages transient
  lua/neogit/spinner.lua
Due: 2-selene, 3-stylua

Remove "echomsg" to prevent hit-enter-prompt with log buffer.
  lua/neogit/spinner.lua
Due: 2-selene, 3-stylua

Move status maps to inside the open function so it is evaluated at the right time.
  lua/neogit/buffers/process/init.lua
Due: 2-selene, 3-stylua

fix: when non-tab buffer has a header, ensure it's closed with the buffer
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Add Ci workflow that checks lua types with lua-lsp
  .github/workflows/lint.yml
  .luarc.json
Due: none

Rename: vim.loop -> vim.uv
  lua/neogit/client.lua
  lua/neogit/lib/git/config.lua
  lua/neogit/lib/git/index.lua
  lua/neogit/lib/util.lua
  lua/neogit/popups/ignore/init.lua
  lua/neogit/process.lua
  lua/neogit/watcher.lua
  tests/specs/neogit/docs_spec.lua
  tests/util/util.lua
Due: 2-selene, 3-stylua, 5-lua-test

Fix type most diagnostic warnings
  lua/neogit/buffers/commit_select_view/init.lua
  lua/neogit/buffers/diff/init.lua
  lua/neogit/lib/git/branch.lua
  lua/neogit/lib/git/cli.lua
  lua/neogit/lib/git/files.lua
  lua/neogit/lib/git/index.lua
  lua/neogit/lib/git/init.lua
  lua/neogit/lib/git/log.lua
  lua/neogit/lib/git/rev_parse.lua
  lua/neogit/lib/git/status.lua
  lua/neogit/lib/graph/unicode.lua
  lua/neogit/lib/popup/builder.lua
  lua/neogit/lib/popup/init.lua
  lua/neogit/lib/state.lua
  lua/neogit/lib/ui/component.lua
  lua/neogit/lib/ui/init.lua
Due: 2-selene, 3-stylua

Add a redraw here to flush the prompt
  lua/neogit/lib/git/init.lua
Due: 2-selene, 3-stylua

lint
  lua/neogit/buffers/editor/init.lua
  lua/neogit/lib/color.lua
  lua/neogit/lib/git/branch.lua
  lua/neogit/lib/git/rebase.lua
  lua/neogit/lib/git/rev_parse.lua
  lua/neogit/lib/graph/unicode.lua
  lua/neogit/lib/popup/init.lua
  lua/neogit/popups/branch/actions.lua
Due: 2-selene, 3-stylua

Fix remaining type definitions. All thats left error-wise are 3rd party
  lua/neogit/buffers/editor/init.lua
  lua/neogit/buffers/process/init.lua
  lua/neogit/buffers/status/actions.lua
  lua/neogit/lib/color.lua
  lua/neogit/lib/git/branch.lua
  lua/neogit/lib/git/cli.lua
  lua/neogit/lib/git/index.lua
  lua/neogit/lib/git/rebase.lua
  lua/neogit/lib/git/sequencer.lua
  lua/neogit/lib/popup/builder.lua
  lua/neogit/lib/ui/component.lua
  lua/neogit/lib/ui/debug.lua
  lua/neogit/lib/util.lua
  lua/neogit/popups/branch/actions.lua
  lua/neogit/popups/branch/init.lua
  lua/neogit/popups/commit/actions.lua
  lua/neogit/popups/ignore/actions.lua
  lua/neogit/popups/pull/init.lua
  lua/neogit/popups/rebase/init.lua
Due: 2-selene, 3-stylua

Fix remaining issues
  lua/neogit/lib/git/hooks.lua
  lua/neogit/lib/git/repository.lua
  lua/neogit/lib/git/sequencer.lua
  lua/neogit/spinner.lua
  lua/neogit/vendor/types.lua
Due: 2-selene, 3-stylua

Only set buffer/window options in "local" scope
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Add "--force" to pull popup
  lua/neogit/config.lua
  lua/neogit/popups/pull/init.lua
  spec/popups/pull_popup_spec.rb
Due: 1-rubocop, 2-selene, 3-stylua

feat: Add auto_show_console_on = "output" | "error" setting
  doc/neogit.txt
  lua/neogit/config.lua
  lua/neogit/process.lua
  tests/specs/neogit/config_spec.lua
Due: 2-selene, 3-stylua, 5-lua-test

Add "squash" to Apply popup
  lua/neogit/popups/cherry_pick/actions.lua
  lua/neogit/popups/cherry_pick/init.lua
  spec/popups/cherry_pick_popup_spec.rb
Due: 1-rubocop, 2-selene, 3-stylua

Add Cherry Pick -> Donate action
  lua/neogit/lib/git/branch.lua
  lua/neogit/lib/git/cherry_pick.lua
  lua/neogit/lib/git/cli.lua
  lua/neogit/lib/git/log.lua
  lua/neogit/lib/git/rev_parse.lua
  lua/neogit/popups/cherry_pick/actions.lua
  lua/neogit/popups/cherry_pick/init.lua
  lua/neogit/popups/merge/actions.lua
  spec/popups/cherry_pick_popup_spec.rb
Due: 1-rubocop, 2-selene, 3-stylua

Fix types
  lua/neogit/lib/git/cherry_pick.lua
Due: 2-selene, 3-stylua

Allow unsetting branch remote/merge from popup
  lua/neogit/lib/git/config.lua
  lua/neogit/popups/branch/init.lua
  lua/neogit/popups/branch_config/actions.lua
Due: 2-selene, 3-stylua

Popup kind value is now hardcoded, so remove conditional checks
  lua/neogit/lib/popup/init.lua
  lua/neogit/popups/branch/init.lua
Due: 2-selene, 3-stylua

Add correct unset behaviour to branch config popup
  lua/neogit/popups/branch_config/init.lua
Due: 2-selene, 3-stylua

Update init.lua
  lua/neogit/popups/branch_config/init.lua
Due: 2-selene, 3-stylua

Update default mappings in README.md helpfile
  README.md
  doc/neogit.txt
Due: none

Add missing fields to "Default Config" section in README.md
  README.md
Due: none

Fix default value of preview_buffer["kind"] field in README.md
  README.md
Due: none

Formatting
  lua/neogit/popups/branch_config/init.lua
  lua/neogit/popups/cherry_pick/init.lua
Due: 2-selene, 3-stylua

Fix Cherry pick donate and implement harvest
  lua/neogit/lib/git/branch.lua
  lua/neogit/lib/git/cherry_pick.lua
  lua/neogit/popups/cherry_pick/actions.lua
  lua/neogit/popups/cherry_pick/init.lua
  spec/popups/cherry_pick_popup_spec.rb
Due: 1-rubocop, 2-selene, 3-stylua

Fix formatting
  lua/neogit/lib/git/branch.lua
  lua/neogit/popups/cherry_pick/actions.lua
  lua/neogit/popups/cherry_pick/init.lua
Due: 2-selene, 3-stylua

Remove non-existent StageLine keymap from documentation
  README.md
  doc/neogit.txt
Due: none

Add spec for unsetting branch remote/merge heads
  spec/popups/branch_popup_spec.rb
Due: 1-rubocop

Update docs for merge and cherry pick popups
  doc/neogit.txt
Due: none

Implement Push -> explicit refspec
  doc/neogit.txt
  lua/neogit/popups/push/actions.lua
  lua/neogit/popups/push/init.lua
Due: 2-selene, 3-stylua

Implement push -> matching branches
  doc/neogit.txt
  lua/neogit/popups/push/actions.lua
  spec/popups/push_popup_spec.rb
Due: 1-rubocop, 2-selene, 3-stylua

Implement Push -> a tag
  doc/neogit.txt
  lua/neogit/popups/push/actions.lua
  lua/neogit/popups/push/init.lua
Due: 2-selene, 3-stylua

fix
  spec/popups/push_popup_spec.rb
Due: 1-rubocop

Handle detached head in log popup
  lua/neogit/popups/log/actions.lua
Due: 2-selene, 3-stylua

Add input validation for switches
  lua/neogit/lib/popup/builder.lua
  lua/neogit/lib/popup/init.lua
  lua/neogit/popups/log/init.lua
Due: 2-selene, 3-stylua

Path conditions:
  1-rubocop: any of: *.rb
  2-selene: any of: {lua,plugin}/**/*.lua
  3-stylua: any of: *.lua
  5-lua-test: any of: tests/specs/**/*_spec.lua
