Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: 1-rubocop, 2-selene, 3-stylua, 5-lua-test

lefthook.yml:

skip_output:
  - meta
pre-push:
  only:
    - ref: master
  files: "rg --files"
  follow: true
  commands:
    1-rubocop:
      glob: "*.rb"
      run: bundle exec rubocop {files}
    2-selene:
      glob: "{lua,plugin}/**/*.lua"
      run: selene --config selene/config.toml {files}
    3-stylua:
      glob: "*.lua"
      run: stylua --check {files}
    4-typos:
      run: typos {files}
    5-lua-test:
      glob: "tests/specs/**/*_spec.lua"
      run: nvim --headless -S "./tests/init.lua" || echo {files}
      env:
        - CI: 1
        - GIT_CONFIG_GLOBAL: /dev/null
        - GIT_CONFIG_SYSTEM: /dev/null
        - NVIM_APPNAME: neogit-test
    6-rspec:
      run: bin/specs {files}

chore: add mention of `typos` to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix: redraw after delete
  lua/neogit/buffers/refs_view/init.lua
Due: 2-selene, 3-stylua

feat: refactor to support deleting remote branches
  lua/neogit/buffers/refs_view/init.lua
  lua/neogit/lib/git/branch.lua
Due: 2-selene, 3-stylua

feat: delete multiple branches with visual selection
  lua/neogit/buffers/refs_view/init.lua
  lua/neogit/lib/git/branch.lua
  lua/neogit/lib/ui/init.lua
Due: 2-selene, 3-stylua

feat: direct branch delete bind to refs view
  lua/neogit/buffers/refs_view/init.lua
  lua/neogit/config.lua
Due: 2-selene, 3-stylua

fix: empty buffer error on open buffer action
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

fix: formatting
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

fix: `\` is not correctly escaped on MinGW
  lua/neogit/client.lua
Due: 2-selene, 3-stylua

feat: #1684 Ability to add custom popup switches
  lua/neogit/config.lua
  lua/neogit/lib/popup/builder.lua
  lua/neogit/lib/popup/init.lua
  lua/neogit/popups/commit/init.lua
  lua/neogit/popups/fetch/init.lua
  lua/neogit/popups/pull/init.lua
  lua/neogit/popups/push/init.lua
  lua/neogit/popups/tag/init.lua
Due: 2-selene, 3-stylua

fix: set border=none for header text explicitly
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

add diff highlighting
  lua/neogit/lib/hl.lua
Due: 2-selene, 3-stylua

choose a cterm foreground color for all highlight groups
  lua/neogit/lib/hl.lua
Due: 2-selene, 3-stylua

formatting
  lua/neogit/lib/hl.lua
Due: 2-selene, 3-stylua

fix too much hihglighting
  lua/neogit/lib/hl.lua
Due: 2-selene, 3-stylua

correction: these options are _window_ options, not _buffer_ options.
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

lint
  lua/neogit/client.lua
Due: 2-selene, 3-stylua

reafactor: use `vim.ui.input` instead of `vim.fn.input`
  lua/neogit/lib/input.lua
Due: 2-selene, 3-stylua

update default floating values to match current values in release
  README.md
  doc/neogit.txt
  lua/neogit/config.lua
Due: 2-selene, 3-stylua

Add floating config to documents
  README.md
  doc/neogit.txt
Due: none

Allow custom floating window
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Fix type checks make lua_ls happy
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

chore(docs): #1684 Explain builder hooks in docs
  README.md
  doc/neogit.txt
Due: none

fix: use require to avoid global variable accessing
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

docs: update help for docs: update readme for snacks.picker integration
  doc/neogit.txt
Due: none

feat: add snacks.picker integration
  lua/neogit/config.lua
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

feat: use same logic as telescope integration
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

refactor: inline the helper function
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

docs: update readme for snacks.picker integration
  README.md
Due: none

feat(tree-view): add status.tree_view option
  README.md
  lua/neogit/buffers/status/ui.lua
  lua/neogit/config.lua
  lua/neogit/lib/hl.lua
  lua/neogit/lib/util.lua
Due: 2-selene, 3-stylua

fixes #1714
  lua/neogit.lua
Due: 3-stylua

Speed up fetching stashes by lazily evaluating OID
  lua/neogit/lib/git/stash.lua
Due: 2-selene, 3-stylua

Do not open the merge popup when done handling conflict
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

Use only Hunk in `generate_patch`
  lua/neogit/buffers/status/actions.lua
  lua/neogit/lib/git/index.lua
  lua/neogit/lib/ui/init.lua
  tests/specs/neogit/lib/git/index_spec.lua
Due: 2-selene, 3-stylua, 5-lua-test

Only show hunk actions if on a hunk
  lua/neogit/popups/revert/actions.lua
  lua/neogit/popups/revert/init.lua
Due: 2-selene, 3-stylua

Add more information in a Hunk
  lua/neogit/lib/git/diff.lua
  tests/specs/neogit/lib/git/log_spec.lua
Due: 2-selene, 3-stylua, 5-lua-test

Change name from hunk to item
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/popups/revert/actions.lua
Due: 2-selene, 3-stylua

Fix discarding hunk among many
  lua/neogit/buffers/status/actions.lua
  lua/neogit/lib/git/index.lua
Due: 2-selene, 3-stylua

Add ability to revert hunk
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/lib/git/revert.lua
  lua/neogit/popups/revert/actions.lua
  lua/neogit/popups/revert/init.lua
Due: 2-selene, 3-stylua
