Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: 1-rubocop, 2-selene, 3-stylua, 5-lua-test

1-rubocop:
  run: bundle exec rubocop {files}

2-selene:
  run: selene --config selene/config.toml {files}

3-stylua:
  run: stylua --check {files}

5-lua-test:
  run: nvim --headless -S "./tests/init.lua" || echo {files}
  env:
  - CI: 1
  - GIT_CONFIG_GLOBAL: /dev/null
  - GIT_CONFIG_SYSTEM: /dev/null
  - NVIM_APPNAME: neogit-test

Only try to detach UFO if it is loaded
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Move line to be in visual order
  lua/neogit/popups/branch/init.lua
Due: 2-selene, 3-stylua

Add completion candidates for tag creation input.
  lua/neogit/popups/tag/actions.lua
Due: 2-selene, 3-stylua

Add a conditional config heading for the branch popup
  lua/neogit/lib/popup/builder.lua
  lua/neogit/popups/branch/init.lua
Due: 2-selene, 3-stylua

Revert "Only try to detach UFO if it is loaded"
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

spelling
  lua/neogit/lib/graph/kitty.lua
Due: 2-selene, 3-stylua

lint
  lua/neogit/popups/tag/actions.lua
Due: 2-selene, 3-stylua

Only detach UFO if it is loaded, 2nd try
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

fix: empty buffer error on open buffer action
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

fix: rename to match new section title
  spec/popups/branch_popup_spec.rb
Due: 1-rubocop

fix: fix diff worktree when there are conflicts
  lua/neogit/integrations/diffview.lua
Due: 2-selene, 3-stylua

Error notifications when pulling
  lua/neogit/popups/pull/actions.lua
Due: 2-selene, 3-stylua

feat: add prompt_force_push option
  README.md
  doc/neogit.txt
  lua/neogit/config.lua
  lua/neogit/popups/push/actions.lua
Due: 2-selene, 3-stylua

docs: update help for docs: update readme for snacks.picker integration
  doc/neogit.txt
Due: none

fix: use require to avoid global variable accessing
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

feat: add snacks.picker integration
  lua/neogit/config.lua
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

docs: update readme for snacks.picker integration
  README.md
Due: none

fix: formatting
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

Fix: Allow `s` to stage resolved files
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

fix: check for conflicts before launching diffview
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

feat: use same logic as telescope integration
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

added tests for additional config
  tests/specs/neogit/config_spec.lua
Due: 3-stylua, 5-lua-test

ui logic for recent updated for the always section
  lua/neogit/buffers/status/ui.lua
Due: 2-selene, 3-stylua

sections.recent.always config documentation
  README.md
  doc/neogit.txt
Due: none

config option for always displaying recent section
  lua/neogit/config.lua
Due: 2-selene, 3-stylua

refactor: inline the helper function
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

Allow custom floating window
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Fix type checks make lua_ls happy
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Add floating config to documents
  README.md
  doc/neogit.txt
Due: none

fix typo
  doc/neogit.txt
Due: none

Add support for disabling commit signing on rebase
  lua/neogit/popups/rebase/init.lua
  spec/popups/rebase_popup_spec.rb
Due: 1-rubocop, 2-selene, 3-stylua

Fix #1702 - when nothing is staged, "--all" shouldn't produce a warning that nothing is staged, as the flag will take care of that.
  lua/neogit/popups/commit/actions.lua
Due: 2-selene, 3-stylua

Add handler for fatal git errors - cancel process and provide notification to user.
  lua/neogit/runner.lua
Due: 2-selene, 3-stylua

Fix #1700:
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

fix: pushRemote.branch string extraction
  lua/neogit/lib/git/branch.lua
Due: 2-selene, 3-stylua

fix: markdown code block formatting
  CONTRIBUTING.md
Due: none

Path conditions:
  1-rubocop: any of: *.rb
  2-selene: any of: {lua,plugin}/**/*.lua
  3-stylua: any of: *.lua
  5-lua-test: any of: tests/specs/**/*_spec.lua
