Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: 1-rubocop, 2-selene, 3-stylua, 5-lua-test

lefthook.yml:

skip_output:
  - meta
pre-push:
  only:
    - ref: master
  files: "rg --files"
  follow: true
  commands:
    1-rubocop:
      glob: "*.rb"
      run: bundle exec rubocop {files}
    2-selene:
      glob: "{lua,plugin}/**/*.lua"
      run: selene --config selene/config.toml {files}
    3-stylua:
      glob: "*.lua"
      run: stylua --check {files}
    4-typos:
      run: typos {files}
    5-lua-test:
      glob: "tests/specs/**/*_spec.lua"
      run: nvim --headless -S "./tests/init.lua" || echo {files}
      env:
        - CI: 1
        - GIT_CONFIG_GLOBAL: /dev/null
        - GIT_CONFIG_SYSTEM: /dev/null
        - NVIM_APPNAME: neogit-test
    6-rspec:
      run: bin/specs {files}

Assert hunk should always have a path
  lua/neogit/lib/git/index.lua
Due: 2-selene, 3-stylua

Generalize pattern: letter here is not always 'a'
  lua/neogit/lib/git/diff.lua
Due: 2-selene, 3-stylua

Add a workaround for people not using the latest neovim verson (0.11). An error is thrown when using both scope and buf options prior to this version.
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

fix(margin): env name in help popup action
  lua/neogit/popups/help/actions.lua
Due: 2-selene, 3-stylua

refactor(margin): fix linting violations
  lua/neogit/buffers/status/ui.lua
  lua/neogit/popups/margin/init.lua
Due: 2-selene, 3-stylua

test(margin): add margin popup spec
  spec/popups/help_popup_spec.rb
  spec/popups/margin_popup_spec.rb
Due: 1-rubocop

feat(margin): add margin popup
  lua/neogit/buffers/status/actions.lua
  lua/neogit/buffers/status/init.lua
  lua/neogit/buffers/status/ui.lua
  lua/neogit/config.lua
  lua/neogit/lib/git/log.lua
  lua/neogit/popups/help/actions.lua
  lua/neogit/popups/margin/actions.lua
  lua/neogit/popups/margin/init.lua
Due: 2-selene, 3-stylua

add option to copy selection
  README.md
  doc/neogit.txt
  lua/neogit/config.lua
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

properly escape entry
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

Remove unused references
  README.md
  doc/neogit.txt
  lua/neogit/config.lua
Due: 2-selene, 3-stylua

Fix snacks.picker confirm action and on_close callback
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

Fix discarding hunk among many
  lua/neogit/buffers/status/actions.lua
  lua/neogit/lib/git/index.lua
Due: 2-selene, 3-stylua

Only show hunk actions if on a hunk
  lua/neogit/popups/revert/actions.lua
  lua/neogit/popups/revert/init.lua
Due: 2-selene, 3-stylua

Change name from hunk to item
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/popups/revert/actions.lua
Due: 2-selene, 3-stylua

Use only Hunk in `generate_patch`
  lua/neogit/buffers/status/actions.lua
  lua/neogit/lib/git/index.lua
  lua/neogit/lib/ui/init.lua
  tests/specs/neogit/lib/git/index_spec.lua
Due: 2-selene, 3-stylua, 5-lua-test

Add more information in a Hunk
  lua/neogit/lib/git/diff.lua
  tests/specs/neogit/lib/git/log_spec.lua
Due: 2-selene, 3-stylua, 5-lua-test

Add ability to revert hunk
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/lib/git/revert.lua
  lua/neogit/popups/revert/actions.lua
  lua/neogit/popups/revert/init.lua
Due: 2-selene, 3-stylua

Add an env getter method to popup to make accessing values nicer.
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/lib/popup/init.lua
  lua/neogit/popups/revert/actions.lua
  lua/neogit/popups/revert/init.lua
Due: 2-selene, 3-stylua

Assert that a line has an OID when parsing the rebase-todo file.
  lua/neogit/lib/git/rebase.lua
Due: 2-selene, 3-stylua

Add sign-off, strategy, and gpg-sign to revert popup
  lua/neogit/popups/revert/init.lua
Due: 2-selene, 3-stylua

Add skeleton for new actions to commit popup
  lua/neogit/lib/popup/builder.lua
  lua/neogit/lib/popup/ui.lua
  lua/neogit/popups/commit/init.lua
Due: 2-selene, 3-stylua

Update docs for Popup Builder and Customizing popup APIs
  doc/neogit.txt
Due: none

Reorganize documentation on autocmd events, and add docs for WorktreeCreate event
  doc/neogit.txt
  lua/neogit/popups/worktree/actions.lua
Due: 2-selene, 3-stylua

Improve worktree destination prompt: when the target dir isn't empty, make a new der with the branch name.
  lua/neogit/popups/worktree/actions.lua
Due: 2-selene, 3-stylua

Remove manual refresh calls: the watcher handles this
  lua/neogit/buffers/status/init.lua
Due: 2-selene, 3-stylua

Dispatch a refresh when updating config values to ensure status buffer is in sync
  lua/neogit/lib/popup/init.lua
Due: 2-selene, 3-stylua

linting
  lua/neogit/lib/popup/builder.lua
  lua/neogit/popups/revert/init.lua
  lua/neogit/popups/worktree/actions.lua
Due: 2-selene, 3-stylua

Fix specs for new views
  spec/popups/commit_popup_spec.rb
  spec/popups/revert_popup_spec.rb
Due: 1-rubocop

Fix duplicated helptags error
  doc/neogit.txt
Due: none

Expand documentation for commit-alter and commit-revise actions
  doc/neogit.txt
Due: none

Add Revise and Alter actions to commit popup
  lua/neogit/popups/commit/actions.lua
  lua/neogit/popups/commit/init.lua
  spec/popups/commit_popup_spec.rb
Due: 1-rubocop, 2-selene, 3-stylua

minor hack: after resetting the repo, queue a deferred refresh of the repo state because the instantaneous refresh often does not have the correct information.
  lua/neogit/buffers/status/init.lua
Due: 2-selene, 3-stylua

Refactor lib.git.reset to no longer touch notifications/events, as that's the realm of the actions (user io)
  lua/neogit/lib/event.lua
  lua/neogit/lib/git/reset.lua
  lua/neogit/popups/reset/actions.lua
Due: 2-selene, 3-stylua

lint
  lua/neogit/lib/event.lua
  lua/neogit/popups/commit/actions.lua
Due: 2-selene, 3-stylua

Prevent git commit instantly commands from stalling due to editor being opened in an unreachable state
  lua/neogit/lib/git/rebase.lua
Due: 2-selene, 3-stylua

Update README.md
  README.md
Due: none
