Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: 1-rubocop, 2-selene, 3-stylua, 5-lua-test

1-rubocop:
  run: bundle exec rubocop {files}

2-selene:
  run: selene --config selene/config.toml {files}

3-stylua:
  run: stylua --check {files}

5-lua-test:
  run: nvim --headless -S "./tests/init.lua" || echo {files}
  env:
  - CI: 1
  - GIT_CONFIG_GLOBAL: /dev/null
  - GIT_CONFIG_SYSTEM: /dev/null
  - NVIM_APPNAME: neogit-test

fix(commit-view): fix jump to file, when filenames contain `-`
  lua/neogit/buffers/commit_view/init.lua
Due: 2-selene, 3-stylua

refactor: move `Buffer:set_line_highlights()` ANSI highlights to `Buffer:set_ansi_highlights()`, to avoid finding hunk line numbers manually with the hard-coded `NeogitDiffContext`
  lua/neogit/buffers/common.lua
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/ui/component.lua
  lua/neogit/lib/ui/init.lua
  lua/neogit/lib/ui/renderer.lua
Due: 2-selene, 3-stylua

fix: https://github.com/NeogitOrg/neogit/issues/1596
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Allow multi-selection for fzf
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

Fix "Handle detached head in log popup"
  lua/neogit/popups/log/actions.lua
Due: 2-selene, 3-stylua

Define 'NeogitWinSeparator' highlight group and link it to 'WinSeparator'
  lua/neogit/lib/hl.lua
Due: 2-selene, 3-stylua

Ensure current branch is not in list of options for merging
  lua/neogit/popups/merge/actions.lua
Due: 2-selene, 3-stylua

Add more information in a Hunk
  lua/neogit/lib/git/diff.lua
  tests/specs/neogit/lib/git/log_spec.lua
Due: 2-selene, 3-stylua, 5-lua-test

Use only Hunk in `generate_patch`
  lua/neogit/buffers/status/actions.lua
  lua/neogit/lib/git/index.lua
  lua/neogit/lib/ui/init.lua
  tests/specs/neogit/lib/git/index_spec.lua
Due: 2-selene, 3-stylua, 5-lua-test

Add ability to revert hunk
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/lib/git/revert.lua
  lua/neogit/popups/revert/actions.lua
  lua/neogit/popups/revert/init.lua
Due: 2-selene, 3-stylua

Fix: Ensure the buffer's header is only the width of the window. Fixes the log view header overlapping the commit view
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Don't set "foldminlines" for internal buffers. It doesn't seem to be needed.
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Use fn instead of vim.fn here
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Change name from hunk to item
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/popups/revert/actions.lua
Due: 2-selene, 3-stylua

Only show hunk actions if on a hunk
  lua/neogit/popups/revert/actions.lua
  lua/neogit/popups/revert/init.lua
Due: 2-selene, 3-stylua

modify naming in help popup to be a little more clear
  lua/neogit/popups/help/actions.lua
  spec/popups/help_popup_spec.rb
Due: 1-rubocop, 2-selene, 3-stylua

Revert "Don't set "foldminlines" for internal buffers. It doesn't seem to be"
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

fix: reverting a commit, when using GPG that has not yet received a password, will now ask for a password.
  lua/neogit/lib/git/cli.lua
  lua/neogit/lib/git/revert.lua
  lua/neogit/popups/revert/actions.lua
Due: 2-selene, 3-stylua

Clean up tags annotations
  lua/neogit/popups/tag/actions.lua
Due: 2-selene, 3-stylua

Decorate commit OID's when passed into fuzzy finder, if possible
  lua/neogit/buffers/fuzzy_finder.lua
  lua/neogit/lib/git/log.lua
Due: 2-selene, 3-stylua

Add more events to auto-refresh status buffer
  lua/neogit/buffers/status/init.lua
Due: 2-selene, 3-stylua

Add e2e specs to makefile
  Makefile
Due: none

Add "rename" action (`R` from status buffer)
  lua/neogit/buffers/status/actions.lua
  lua/neogit/buffers/status/init.lua
  lua/neogit/config.lua
  lua/neogit/lib/git/cli.lua
  lua/neogit/lib/git/files.lua
Due: 2-selene, 3-stylua

feat: handle "Erase in Line"
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Add prompt prefix when deleting branch. If a branch already exists when spinning off/out change, abort
  lua/neogit/popups/branch/actions.lua
Due: 2-selene, 3-stylua

Added: Mappings to navigate between sections in the status buffer
  README.md
  lua/neogit/buffers/status/actions.lua
  lua/neogit/buffers/status/init.lua
  lua/neogit/config.lua
Due: 2-selene, 3-stylua

vimdoc: setup section to match README
  doc/neogit.txt
Due: none

vimdoc: add Events section
  doc/neogit.txt
Due: none

vimdoc: add highlighting for highlighting section...
  doc/neogit.txt
Due: none

fix: <c-n> and <c-p> on status buffer will navigate you to/from header
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

upd enum
  lua/neogit/config.lua
Due: 2-selene, 3-stylua

Only show spinner when cmdheight is > 0
  lua/neogit/config.lua
Due: 2-selene, 3-stylua

feat: support viewing the diff via other pagers, e.g. *Delta*
  README.md
  doc/neogit.txt
  lua/neogit/buffers/common.lua
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/git/diff.lua
Due: 2-selene, 3-stylua

test: add `pager_contents` to `subject.parse()` specs
  tests/specs/neogit/lib/git/log_spec.lua
Due: 3-stylua, 5-lua-test

refactor: run the pager in `neogit.lib.git.diff` `build_pager_contents()`
  lua/neogit/buffers/common.lua
  lua/neogit/lib/git/diff.lua
Due: 2-selene, 3-stylua

docs: add *Delta* example for `log_pager`
  README.md
Due: none

refactor: use `vim.system()` instead of *plenary* to run `config.values.log_pager`
  lua/neogit/buffers/common.lua
Due: 2-selene, 3-stylua

Path conditions:
  1-rubocop: any of: *.rb
  2-selene: any of: {lua,plugin}/**/*.lua
  3-stylua: any of: *.lua
  5-lua-test: any of: tests/specs/**/*_spec.lua
