Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: 1-rubocop, 2-selene, 3-stylua, 5-lua-test

1-rubocop:
  run: bundle exec rubocop {files}

2-selene:
  run: selene --config selene/config.toml {files}

3-stylua:
  run: stylua --check {files}

5-lua-test:
  run: nvim --headless -S "./tests/init.lua" || echo {files}
  env:
  - CI: 1
  - GIT_CONFIG_GLOBAL: /dev/null
  - GIT_CONFIG_SYSTEM: /dev/null
  - NVIM_APPNAME: neogit-test

Fix: allow pulling in detached state
  lua/neogit/popups/pull/init.lua
Due: 2-selene, 3-stylua

Improve branch clean function to support detached HEAD
  lua/neogit/popups/diff/actions.lua
Due: 2-selene, 3-stylua

Forgot imports
  lua/neogit/popups/diff/actions.lua
Due: 2-selene, 3-stylua

Fix luacheck linting
  lua/neogit/popups/diff/actions.lua
Due: 2-selene, 3-stylua

Simplify diffview.open logic
  lua/neogit/integrations/diffview.lua
Due: 2-selene, 3-stylua

fix linting
  lua/neogit/popups/pull/init.lua
Due: 2-selene, 3-stylua

Fix: Do not apply single highlight to rows in refs view that have no upstream.
  lua/neogit/buffers/refs_view/ui.lua
Due: 2-selene, 3-stylua

Handle when pushDefault is set with a more informative label.
  lua/neogit/lib/git/branch.lua
  lua/neogit/popups/push/init.lua
Due: 2-selene, 3-stylua

Fix rebasing onto upstream when the upstream is not on a remote.
  lua/neogit/popups/rebase/actions.lua
Due: 2-selene, 3-stylua

pass in ordered commits to diff->this when a visual selection is made in the log/reflog buffer. This allows diffing a specific range of commits.
  lua/neogit/buffers/log_view/init.lua
  lua/neogit/buffers/reflog_view/init.lua
  lua/neogit/buffers/refs_view/init.lua
  lua/neogit/integrations/diffview.lua
  lua/neogit/lib/ui/init.lua
  lua/neogit/popups/diff/actions.lua
Due: 2-selene, 3-stylua

Allow diff->range action to list the current commit under cursor when prompting for options.
  lua/neogit/popups/diff/actions.lua
Due: 2-selene, 3-stylua

Add tags and follow-tags switches to push popup
  lua/neogit/popups/push/init.lua
  spec/popups/push_popup_spec.rb
Due: 1-rubocop, 2-selene, 3-stylua

Allow quick diffing against head when invoking the diff popup without a selection from the log, refs, reflog, and commit view.
  lua/neogit/buffers/log_view/init.lua
  lua/neogit/buffers/reflog_view/init.lua
  lua/neogit/buffers/refs_view/init.lua
  lua/neogit/integrations/diffview.lua
  lua/neogit/popups/diff/actions.lua
  lua/neogit/popups/diff/init.lua
Due: 2-selene, 3-stylua

Fix types
  lua/neogit/integrations/diffview.lua
Due: 2-selene, 3-stylua

provide popup.close for actions
  lua/neogit.lua
Due: 3-stylua

Update doc for graph bold highlights
  doc/neogit.txt
Due: none

fix: push and pull popup work again with detached head
  lua/neogit/popups/pull/init.lua
  lua/neogit/popups/push/init.lua
Due: 2-selene, 3-stylua

Add specs for all popups to assert they do not error out with detached HEAD state in repo.
  spec/popups/bisect_popup_spec.rb
  spec/popups/branch_config_popup_spec.rb
  spec/popups/branch_popup_spec.rb
  spec/popups/cherry_pick_popup_spec.rb
  spec/popups/commit_popup_spec.rb
  spec/popups/diff_popup_spec.rb
  spec/popups/fetch_popup_spec.rb
  spec/popups/help_popup_spec.rb
  spec/popups/ignore_popup_spec.rb
  spec/popups/log_popup_spec.rb
  spec/popups/merge_popup_spec.rb
  spec/popups/pull_popup_spec.rb
  spec/popups/push_popup_spec.rb
  spec/popups/rebase_popup_spec.rb
  spec/popups/remote_popup_spec.rb
  spec/popups/reset_popup_spec.rb
  spec/popups/revert_popup_spec.rb
  spec/popups/stash_popup_spec.rb
  spec/popups/tag_popup_spec.rb
  spec/popups/worktree_popup_spec.rb
  spec/support/shared.rb
Due: 1-rubocop

Add timeout and specs for launching popup without status buffer
  spec/general_spec.rb
  spec/spec_helper.rb
Due: 1-rubocop

Add warning when launching branch/remote config popups without a branch/remote specified.
  lua/neogit/popups/branch_config/init.lua
  lua/neogit/popups/remote_config/init.lua
Due: 2-selene, 3-stylua

Ensure there's a timeout when running on CI server
  spec/spec_helper.rb
Due: 1-rubocop

Ensure remote/branch config popups get a table (env) as argument like all other popups.
  lua/neogit/popups/branch/actions.lua
  lua/neogit/popups/branch_config/init.lua
  lua/neogit/popups/diff/init.lua
  lua/neogit/popups/fetch/actions.lua
  lua/neogit/popups/pull/actions.lua
  lua/neogit/popups/push/actions.lua
  lua/neogit/popups/remote/actions.lua
  lua/neogit/popups/remote_config/init.lua
  spec/general_spec.rb
Due: 1-rubocop, 2-selene, 3-stylua

Update hooks, ensure llscheck runs
  lefthook.yml
Due: none

tweak behaviour of options - when they are set, the trigger key will first unset them, before letting you set them again.
  lua/neogit/lib/popup/init.lua
Due: 2-selene, 3-stylua

prevent error when canceling out of options choice fuzzy finder
  lua/neogit/lib/popup/init.lua
Due: 2-selene, 3-stylua

Add autocmd to refresh open buffers after making changes in neogit.
  lua/neogit/autocmds.lua
Due: 2-selene, 3-stylua

Refactor #1748, extend Finder with item_type arg
  lua/neogit/lib/finder.lua
  lua/neogit/lib/finder/providers/fzf_lua.lua
  lua/neogit/popups/diff/actions.lua
  lua/neogit/popups/diff/init.lua
Due: 2-selene, 3-stylua

fix(diff): fix range picker not opening second popup for non-HEAD refs
  lua/neogit/lib/finder.lua
  lua/neogit/lib/finder/providers/fzf_lua.lua
  lua/neogit/popups/diff/actions.lua
Due: 2-selene, 3-stylua

fix(diff): remove esc overrides for fzf-lua so it closes immediately
  lua/neogit/lib/finder.lua
  lua/neogit/lib/finder/providers/fzf_lua.lua
Due: 2-selene, 3-stylua

fix(finder): extract commit hash from formatted entries in all pickers
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

formatting
  lua/neogit/lib/finder.lua
Due: 2-selene, 3-stylua

feat(diffview): close diffview with `q`
  lua/neogit/integrations/diffview.lua
Due: 2-selene, 3-stylua

fix(diffview): allow diff this on stash, show warning when diffing on stash and recent commits header
  lua/neogit/buffers/stash_list_view/init.lua
  lua/neogit/integrations/diffview.lua
Due: 2-selene, 3-stylua

optional simple header for log view
  lua/neogit/buffers/log_view/init.lua
  lua/neogit/buffers/log_view/ui.lua
  lua/neogit/config.lua
Due: 2-selene, 3-stylua

config param to turn off --force-if-includes
  lua/neogit/config.lua
  lua/neogit/popups/push/actions.lua
Due: 2-selene, 3-stylua

prevent asking for an upstream if it's set
  lua/neogit/popups/rebase/actions.lua
Due: 2-selene, 3-stylua

option to turn off closing log view on esc
  lua/neogit/buffers/log_view/init.lua
  lua/neogit/config.lua
Due: 2-selene, 3-stylua

option to turn off hard reset backups
  lua/neogit/config.lua
  lua/neogit/lib/git/reset.lua
Due: 2-selene, 3-stylua

Path conditions:
  1-rubocop: any of: *.rb
  2-selene: any of: {lua,plugin}/**/*.lua
  3-stylua: any of: *.lua
  5-lua-test: any of: tests/specs/**/*_spec.lua
