Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: 1-rubocop, 2-selene, 3-stylua, 5-lua-test

lefthook.yml:

skip_output:
  - meta
pre-push:
  only:
    - ref: master
  files: "rg --files"
  follow: true
  commands:
    1-rubocop:
      glob: "*.rb"
      run: bundle exec rubocop {files}
    2-selene:
      glob: "{lua,plugin}/**/*.lua"
      run: selene --config selene/config.toml {files}
    3-stylua:
      glob: "*.lua"
      run: stylua --check {files}
    4-typos:
      run: typos {files}
    5-lua-test:
      glob: "tests/specs/**/*_spec.lua"
      run: nvim --headless -S "./tests/init.lua" || echo {files}
      env:
        - CI: 1
        - GIT_CONFIG_GLOBAL: /dev/null
        - GIT_CONFIG_SYSTEM: /dev/null
        - NVIM_APPNAME: neogit-test
    6-rspec:
      run: bin/specs {files}

allow access to logger config via lua api at runtime
  CONTRIBUTING.md
  lua/neogit/logger.lua
Due: 2-selene, 3-stylua

Revert "reafactor: use `vim.ui.input` instead of `vim.fn.input`"
  lua/neogit/lib/input.lua
Due: 2-selene, 3-stylua

fix: forgot a not
  lua/neogit/popups/reset/actions.lua
Due: 2-selene, 3-stylua

Fix: when decorating a ref, do not return a string like "tag: xxx", just return the OID.
  lua/neogit/lib/git/log.lua
Due: 2-selene, 3-stylua

Add documentation on reset: file and extend it to work in more situations
  doc/neogit.txt
  lua/neogit/lib/git/reset.lua
Due: 2-selene, 3-stylua

Perform a refresh when refocusing the status buffer
  lua/neogit/buffers/status/init.lua
Due: 2-selene, 3-stylua

Ensure window handle is valid before calling window function
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

update luarc schema
  .luarc.json
Due: none

fix: when discarding a visual selection of staged files, take the file names from the correct section.
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

Fix: discarding all staged files by section should work again
  lua/neogit/buffers/status/actions.lua
  lua/neogit/lib/ui/init.lua
Due: 2-selene, 3-stylua

Aggressively check for buffer presence, as the use may have closed it while this function was running.
  lua/neogit/buffers/status/init.lua
Due: 2-selene, 3-stylua

test: add `pager_contents` to `subject.parse()` specs
  tests/specs/neogit/lib/git/log_spec.lua
Due: 3-stylua, 5-lua-test

refactor: move `Buffer:set_line_highlights()` ANSI highlights to `Buffer:set_ansi_highlights()`, to avoid finding hunk line numbers manually with the hard-coded `NeogitDiffContext`
  lua/neogit/buffers/common.lua
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/ui/component.lua
  lua/neogit/lib/ui/init.lua
  lua/neogit/lib/ui/renderer.lua
Due: 2-selene, 3-stylua

refactor: ANSI colorize continuous chunks at once
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

docs: for *Delta*, hyperlinks must be disabled in its *Git* config section
  README.md
Due: none

feat: support viewing the diff via other pagers, e.g. *Delta*
  README.md
  doc/neogit.txt
  lua/neogit/buffers/common.lua
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/git/diff.lua
Due: 2-selene, 3-stylua

docs: add *Delta* example for `log_pager`
  README.md
Due: none

fix: match from the start of the line when building hunks, or `.diff` files will be shown incorrectly
  lua/neogit/lib/git/diff.lua
Due: 2-selene, 3-stylua

refactor: use `vim.system()` instead of *plenary* to run `config.values.log_pager`
  lua/neogit/buffers/common.lua
Due: 2-selene, 3-stylua

refactor: run the pager in `neogit.lib.git.diff` `build_pager_contents()`
  lua/neogit/buffers/common.lua
  lua/neogit/lib/git/diff.lua
Due: 2-selene, 3-stylua

feat: handle "Erase in Line"
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

docs: switch from `*` to ` `` `, as help documents treat that as a tag
  README.md
  doc/neogit.txt
Due: none

Add more notifications to branch popup when action succeeds or fails, migrate to use internal event lib
  lua/neogit/popups/branch/actions.lua
Due: 2-selene, 3-stylua

Replace call to nvim_buf_add_highlight() (deprecated) with vim.hl.range()
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Migrate all events to use internal event lib
  lua/neogit/lib/event.lua
  lua/neogit/lib/git/bisect.lua
  lua/neogit/lib/git/cherry_pick.lua
  lua/neogit/lib/git/merge.lua
  lua/neogit/lib/git/rebase.lua
  lua/neogit/lib/git/stash.lua
  lua/neogit/popups/tag/actions.lua
  lua/neogit/popups/worktree/actions.lua
Due: 2-selene, 3-stylua

When the index contains no changes, "git commit" will fail here, meaning a hard reset will move to ref~1 instead of ref.
  lua/neogit/lib/git/index.lua
Due: 2-selene, 3-stylua

Some rebase-todo lines don't have an OID
  lua/neogit/lib/git/rebase.lua
Due: 2-selene, 3-stylua

Fix: The section name here is "upstream_unmerged" and "pushRemote_unmerged"
  lua/neogit/integrations/diffview.lua
Due: 2-selene, 3-stylua

feat: Add `commit_template` option, specify a path to a valid template file to be used.
  lua/neogit/config.lua
  lua/neogit/popups/commit/actions.lua
Due: 2-selene, 3-stylua

Warp open source support
  README.md
Due: none

Update README.md
  README.md
Due: none

Add annotations to renderer class
  lua/neogit/lib/ui/renderer.lua
Due: 2-selene, 3-stylua

Fix: focus popup diff "range to", keep diff tab focused
  lua/neogit/popups/diff/actions.lua
Due: 2-selene, 3-stylua

Fix: keep stash and commit diff tab focused
  lua/neogit/popups/diff/actions.lua
Due: 2-selene, 3-stylua

provide popup.close for actions
  lua/neogit.lua
Due: 3-stylua

formatting
  lua/neogit/popups/diff/actions.lua
Due: 2-selene, 3-stylua

Feat: Improve fzf-lua integration for diffs, add diff selection for commits and paths
  lua/neogit/integrations/diffview.lua
  lua/neogit/popups/diff/actions.lua
  lua/neogit/popups/diff/init.lua
Due: 2-selene, 3-stylua

Update doc for graph bold highlights
  doc/neogit.txt
Due: none

Feat: Implement path diff with globs, remove redundant code
  lua/neogit/integrations/diffview.lua
  lua/neogit/lib/git/cli.lua
  lua/neogit/popups/diff/actions.lua
  lua/neogit/popups/diff/init.lua
Due: 2-selene, 3-stylua
