Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: 1-rubocop, 2-selene, 3-stylua, 5-lua-test

lefthook.yml:

skip_output:
  - meta
pre-push:
  only:
    - ref: master
  files: "rg --files"
  follow: true
  commands:
    1-rubocop:
      glob: "*.rb"
      run: bundle exec rubocop {files}
    2-selene:
      glob: "{lua,plugin}/**/*.lua"
      run: selene --config selene/config.toml {files}
    3-stylua:
      glob: "*.lua"
      run: stylua --check {files}
    4-typos:
      run: typos {files}
    5-lua-test:
      glob: "tests/specs/**/*_spec.lua"
      run: nvim --headless -S "./tests/init.lua" || echo {files}
      env:
        - CI: 1
        - GIT_CONFIG_GLOBAL: /dev/null
        - GIT_CONFIG_SYSTEM: /dev/null
        - NVIM_APPNAME: neogit-test
    6-rspec:
      run: bin/specs {files}

Log errors here
  lua/neogit/lib/util.lua
Due: 2-selene, 3-stylua

Check for valid job ID when stopping process
  lua/neogit/process.lua
Due: 2-selene, 3-stylua

Fix: when closing buffer, self.buffer is nil here
  lua/neogit/buffers/commit_view/init.lua
Due: 2-selene, 3-stylua

lint
  lua/neogit/lib/util.lua
Due: 2-selene, 3-stylua

Allow popups to be focusable. no idea why they were not.
  lua/neogit/lib/buffer.lua
Due: 2-selene, 3-stylua

Fix trying to perform arithmetic on nil hunk_offset
  lua/neogit/lib/ui/init.lua
Due: 2-selene, 3-stylua

Allow interrupting a process by closing the console buffer, or by sending an interrupt via c-c
  lua/neogit/buffers/process/init.lua
Due: 2-selene, 3-stylua

Document config.highlight
  doc/neogit.txt
Due: none

spelling...
  doc/neogit.txt
Due: none

Added kind to README.md
  README.md
Due: none

Revert 1 commits
  README.md
Due: none

Added floating option for kind values
  README.md
Due: none

Handle `incompatible`/`dependant` for options
  lua/neogit/lib/popup/builder.lua
  lua/neogit/lib/popup/init.lua
Due: 2-selene, 3-stylua

fix: process.lua error when we have a bare repo in the worktree list
  lua/neogit/lib/git/worktree.lua
Due: 2-selene, 3-stylua

Remove duplicated `PopupData` definition
  lua/neogit/lib/popup/builder.lua
Due: 2-selene, 3-stylua

Flesh out some missing builder annotations
  lua/neogit/lib/popup/builder.lua
  lua/neogit/lib/popup/init.lua
Due: 2-selene, 3-stylua

Fix config entry type
  lua/neogit/lib/popup/builder.lua
Due: 2-selene, 3-stylua

Clean up some of the builder annotations
  lua/neogit/lib/popup/builder.lua
  lua/neogit/lib/popup/init.lua
Due: 2-selene, 3-stylua

Mention the possibility of custom popups in the docs
  doc/neogit.txt
Due: none

Clean up trailing whitespaces in docs
  doc/neogit.txt
Due: none

Breaking!: Use `gitcommit` and `gitrebase` filetypes instead of custom
  lua/neogit/buffers/editor/init.lua
  lua/neogit/buffers/rebase_editor/init.lua
Due: 2-selene, 3-stylua

Change git.config.get() to query both local and global values, and create git.config.get_local() api to get local only. This reflects the existing .get_global() function.
  lua/neogit/buffers/editor/init.lua
  lua/neogit/buffers/rebase_editor/init.lua
  lua/neogit/buffers/refs_view/ui.lua
  lua/neogit/lib/git/branch.lua
  lua/neogit/lib/git/config.lua
  lua/neogit/lib/git/push.lua
  lua/neogit/lib/git/remote.lua
  lua/neogit/lib/popup/builder.lua
  lua/neogit/popups/branch_config/actions.lua
  lua/neogit/popups/branch_config/init.lua
  lua/neogit/popups/remote/actions.lua
Due: 2-selene, 3-stylua

Fix: https://github.com/NeogitOrg/neogit/issues/1544
  lua/neogit/lib/popup/init.lua
Due: 2-selene, 3-stylua

Add retry mechanism to spec runner
  bin/specs
Due: none

Rename: Dependant to Dependent
  doc/neogit.txt
  lua/neogit/lib/popup/builder.lua
  lua/neogit/lib/popup/init.lua
  lua/neogit/popups/log/init.lua
Due: 2-selene, 3-stylua

Add kitty graph style to README
  README.md
Due: none

Fix: https://github.com/NeogitOrg/neogit/issues/1545
  lua/neogit/lib/popup/init.lua
Due: 2-selene, 3-stylua

Update README.md
  README.md
Due: none

Update hl.lua
  lua/neogit/lib/hl.lua
Due: 2-selene, 3-stylua

Types
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/ui/component.lua
Due: 2-selene, 3-stylua

Add config for spinner
  lua/neogit/config.lua
  lua/neogit/process.lua
Due: 2-selene, 3-stylua

Add annotations for spinner
  lua/neogit/spinner.lua
Due: 2-selene, 3-stylua

Add "try" util
  lua/neogit/lib/util.lua
Due: 2-selene, 3-stylua

Add note
  lua/neogit/buffers/stash_list_view/init.lua
Due: 2-selene, 3-stylua

Allow removing untracked directories when showUntrackedFiles=normal
  lua/neogit/buffers/status/actions.lua
Due: 2-selene, 3-stylua

Add a spinner to show a process is running.
  lua/neogit/process.lua
  lua/neogit/spinner.lua
Due: 2-selene, 3-stylua

Give the spinner some grace period
  lua/neogit/spinner.lua
Due: 2-selene, 3-stylua

capture and re-use existing eventignore value
  lua/neogit/popups/log/actions.lua
Due: 2-selene, 3-stylua

tweak spinner text
  lua/neogit/process.lua
Due: 2-selene, 3-stylua

Breaking!: rename disable_* config properties to enable_*
  README.md
  doc/neogit.txt
  lua/neogit/buffers/commit_select_view/init.lua
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/buffers/diff/init.lua
  lua/neogit/buffers/editor/init.lua
  lua/neogit/buffers/log_view/init.lua
  lua/neogit/buffers/rebase_editor/init.lua
  lua/neogit/buffers/reflog_view/init.lua
  lua/neogit/buffers/status/init.lua
  lua/neogit/buffers/status/ui.lua
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/signs.lua
  tests/specs/neogit/config_spec.lua
Due: 2-selene, 3-stylua, 5-lua-test
